<div>
    <h2 id="page-heading">
        <span jhiTranslate="duAnTotNghiepBackEndApp.apply.home.title">Applies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-apply" [routerLink]="['/apply/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="duAnTotNghiepBackEndApp.apply.home.createLabel">
            Create a new Apply
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applies?.length === 0">
        <span jhiTranslate="duAnTotNghiepBackEndApp.apply.home.notFound">No applies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applies && applies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="time"><span jhiTranslate="duAnTotNghiepBackEndApp.apply.time">Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span jhiTranslate="duAnTotNghiepBackEndApp.apply.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="duAnTotNghiepBackEndApp.apply.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="post.id"><span jhiTranslate="duAnTotNghiepBackEndApp.apply.post">Post</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let apply of applies ;trackBy: trackId">
                    <td><a [routerLink]="['/apply', apply.id, 'view']">{{ apply.id }}</a></td>
                    <td>{{ apply.time | date:'medium' }}</td>
                    <td>{{ apply.content }}</td>
                    <td>
                        {{ apply.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="apply.post">
                            <a [routerLink]="['/post', apply.post?.id, 'view']" >{{ apply.post?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/apply', apply.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/apply', apply.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(apply)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="applies && applies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
